        .show-text {
            border: 1px solid gray;
            padding: 15px;
        }
        .form-control {
            display: inline-block;
        }
        .but {
            display: inline-block;
        }
        .inputs {}
